.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    align-items: stretch;
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}