.main {
    width: 100%;
    height: 126px;
    margin-top: 126px;
    background-color: rgb(var(--secondary-rgb));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 760px) {

.main {
    margin-top: 32px;
}
  
  }