.logo {
    width: 330px;
    height: 126px;
    position: relative;
}

.image {
    object-fit: contain;
    width: 100%;
    position: relative;
    height: unset;
}

@media screen and (max-width: 760px) {
    .logo {
       width: 90%;
       margin-top: 16px;
    }
}