.main {
    background-color: rgb(var(--light-rgb));
    padding: 0px;
    height: calc(100vw / 4);
    position: relative;
    margin-bottom: 32px;
    /* background-color: aqua; */

}

.line {
    background-color: rgb(var(--primary-rgb));
    background-image: linear-gradient(120deg, rgb(var(--primary-rgb)) 0%, #8fd3f4 100%);
    height: 6px;
    width: auto;
}

.line_card {
    background-color: rgb(var(--light-rgb));
    margin-top: 16px;
    height: 6px;
    width: auto;
}

.container {
    width: 100%;

}

.container a:hover {
    text-decoration: underline;
}

.image {
    object-fit: fill;
    opacity: 1;
}

.image_modal_container {
    width: 100%;
    /* position: unset !important; */
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

/* .image_modal_container>div {
    position: unset !important;
} */

.image_modal {
    object-fit: fill;
    width: 100%;
    position: relative !important;



}

.info {
    display: none;
    /* max-width: 100%;
    height: calc(100% - 64px);
    background-color: rgb(var(--primary-rgb));
    background-image: linear-gradient(120deg, rgb(var(--primary-rgb)) 0%, #8fd3f4 100%);
    opacity: 0;
    z-index: 1000;
    padding: 32px;
    color: rgb(var(--light-rgb)); */

}

.info p {
    white-space: pre-line;
}

.info:hover {
    opacity: 0.9;
    transition: opacity 0.6s;
}

.info:hover+.image {
    opacity: 0.3;
    transform: scale(0.8);
    transition: opacity 0.8s;
}

@media screen and (max-width: 1100px) {
    .main {
        height: 100vw;
    }
}